In [1]:
# from selenium import webdriver
# from selenium.webdriver.chrome.service import Service
# from webdriver_manager.chrome import ChromeDriverManager
# from bs4 import BeautifulSoup
# import pandas as pd
# import time

# url = "https://www.baseball-reference.com/leagues/majors/2025.shtml#site_menu_link"

# driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
# driver.get(url)

# time.sleep(3)

# #getting page HTML
# html = driver.page_source
# soup = BeautifulSoup(html, "html.parser")

# #create tables
# table = soup.find("table", {"id": "teams_standard_batting"})
# df = pd.read_html(str(table))[0]

# display(df)
# df.to_csv("mlb_2025_stats.csv", index=False)
# print("Saved mlb_2025_stats.csv")

# driver.quit()
import pandas as pd

In [2]:
# #Read in payroll statistics
# payroll_df = pd.read_csv("mlb_payrolls.csv")
# # payroll_df = payroll_df.drop(columns=["Total Payroll Allocations","Average Age", "Injured", "Retained", "Buried", "Average Age"])
# payroll_df = payroll_df[payroll_df["Year"] != 2020]
# display(payroll_df)

In [5]:
# df_sorted = payroll_df.sort_values(by="Wins", ascending=False)

# display(df_sorted)

WARNING: Ignoring invalid distribution ~ltk (/Applications/anaconda3/lib/python3.11/site-packages)
WARNING: Ignoring invalid distribution ~ltk (/Applications/anaconda3/lib/python3.11/site-packages)
Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in /Applications/anaconda3/lib/python3.11/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /Applications/anaconda3/lib/python3.11/site-packages (from html5lib) (0.5.1)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 kB 1.4 MB/s eta 0:00:00 0:00:01
WARNING: Ignoring invalid distribution ~ltk (/Applications/anaconda3/lib/python3.11/site-packages)
Installing collected packages: html5lib
WARNING: Ignoring invalid distribution ~ltk (/Applications/anaconda3/lib/python3.11/site-packages)
Successfully installed html5lib-1.1
WARNING: Ignoring invalid distribution ~ltk (/Applications/anaconda3/lib/python3.11/site-packages)
WARNING: Ignoring invalid distribution ~ltk (/Applications/anaconda3/lib/python3.11/site-packages)
WARNING: Ignoring invalid distribution ~ltk (/Applications/anaconda3/lib/python3.11/site-packages)

In [11]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup
import pandas as pd

years = range(2011, 2026)
all_seasons = []

chrome_options = Options()
chrome_options.add_argument("--headless")

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=chrome_options)

for year in years:
    url = f"https://www.baseball-reference.com/leagues/majors/{year}.shtml"
    print(f"Scraping season {year}...")

    driver.get(url)

    try:
        WebDriverWait(driver, 10).until(
            EC.presence_of_element_located((By.ID, "teams_standard_batting"))
        )
    except:
        print(f"Batting table not found for {year}, skipping.")
        continue

    html = driver.page_source
    soup = BeautifulSoup(html, "lxml")  # Specify parser explicitly

    table = soup.find("table", {"id": "teams_standard_batting"})
    if table is None:
        print(f"No batting table found for {year}, skipping.")
        continue

    df = pd.read_html(str(table))[0]
    df["Year"] = year

    if "Tm" in df.columns:
        df.rename(columns={"Tm": "Team"}, inplace=True)

    all_seasons.append(df)

driver.quit()

final_df = pd.concat(all_seasons, ignore_index=True)

# Save to CSV
final_df.to_csv("mlb_2011_2025_batting_selenium.csv", index=False)
print("Saved mlb_2011_2025_batting_selenium.csv")

Scraping season 2011...

/var/folders/w7/s3qw9d6903z7pn_fvrj2yk1c0000gn/T/ipykernel_76626/2759340375.py:43: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Scraping season 2012...

/var/folders/w7/s3qw9d6903z7pn_fvrj2yk1c0000gn/T/ipykernel_76626/2759340375.py:43: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Scraping season 2013...

/var/folders/w7/s3qw9d6903z7pn_fvrj2yk1c0000gn/T/ipykernel_76626/2759340375.py:43: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Scraping season 2014...

/var/folders/w7/s3qw9d6903z7pn_fvrj2yk1c0000gn/T/ipykernel_76626/2759340375.py:43: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Scraping season 2015...

/var/folders/w7/s3qw9d6903z7pn_fvrj2yk1c0000gn/T/ipykernel_76626/2759340375.py:43: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Scraping season 2016...

/var/folders/w7/s3qw9d6903z7pn_fvrj2yk1c0000gn/T/ipykernel_76626/2759340375.py:43: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Scraping season 2017...

/var/folders/w7/s3qw9d6903z7pn_fvrj2yk1c0000gn/T/ipykernel_76626/2759340375.py:43: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Scraping season 2018...

/var/folders/w7/s3qw9d6903z7pn_fvrj2yk1c0000gn/T/ipykernel_76626/2759340375.py:43: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Scraping season 2019...

/var/folders/w7/s3qw9d6903z7pn_fvrj2yk1c0000gn/T/ipykernel_76626/2759340375.py:43: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Scraping season 2020...

/var/folders/w7/s3qw9d6903z7pn_fvrj2yk1c0000gn/T/ipykernel_76626/2759340375.py:43: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Scraping season 2021...

/var/folders/w7/s3qw9d6903z7pn_fvrj2yk1c0000gn/T/ipykernel_76626/2759340375.py:43: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Scraping season 2022...

/var/folders/w7/s3qw9d6903z7pn_fvrj2yk1c0000gn/T/ipykernel_76626/2759340375.py:43: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Scraping season 2023...

/var/folders/w7/s3qw9d6903z7pn_fvrj2yk1c0000gn/T/ipykernel_76626/2759340375.py:43: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Scraping season 2024...

/var/folders/w7/s3qw9d6903z7pn_fvrj2yk1c0000gn/T/ipykernel_76626/2759340375.py:43: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Scraping season 2025...

/var/folders/w7/s3qw9d6903z7pn_fvrj2yk1c0000gn/T/ipykernel_76626/2759340375.py:43: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Saved mlb_2011_2025_batting_selenium.csv

In [39]:
final_df = final_df.rename(columns={"Team":"Team Name"})
final_df=final_df.drop(columns=["#Bat", "BatAge", "G"])
stats = final_df[~final_df["Year"].isin([2020,2025])]
display(stats)

,Team Name,R/G,PA,AB,R,H,2B,3B,HR,RBI,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB,Year
0,Arizona Diamondbacks,4.51,6096,5421,731,1357,293,37,172,702,...,.736,99,2240,82,61,50,33,55,1064,2011
1,Atlanta Braves,3.96,6169,5528,641,1345,244,16,173,606,...,.695,90,2140,113,28,75,30,45,1109,2011
2,Baltimore Orioles,4.37,6156,5585,708,1434,273,13,191,684,...,.729,97,2306,154,52,24,43,24,1069,2011
3,Boston Red Sox,5.40,6414,5710,875,1600,352,35,203,842,...,.810,116,2631,136,50,22,50,52,1190,2011
4,Chicago Cubs,4.04,6130,5549,654,1423,285,36,148,610,...,.715,95,2224,123,59,60,35,35,1141,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,Toronto Blue Jays,4.14,6060,5410,671,1306,280,26,156,640,...,.703,98,2106,126,78,14,45,18,1106,2024
458,Washington Nationals,4.07,5971,5374,660,1306,267,18,135,621,...,.684,93,2014,115,73,26,40,11,1010,2024
459,League Average,4.39,6082,5456,711,1327,259,23,182,679,...,.711,100,2178,108,67,15,42,17,1079,2024
460,Tm,R/G,PA,AB,R,H,2B,3B,HR,RBI,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB,2024
461,NaN,4.39,182449,163687,21343,39823,7771,697,5453,20379,...,.711,100,65347,3227,2020,452,1261,509,32361,2024

In [40]:
payroll = pd.read_csv("mlb_payrolls.csv")

payroll = payroll[payroll["Year"] != 2020]
payroll = payroll.drop(columns=["Team", "Average Age", "Total Payroll Allocations", "Injured", "Buried", "Retained"])

In [41]:
merged = payroll.merge(
    stats,
    on=["Team Name", "Year"],
    how="outer"
)

display(merged)

,Team Name,Year,Active 26-Man,Wins,Losses,Postseason,R/G,PA,AB,R,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
0,Oakland Athletics,2024,"$28,956,713",69.0,93.0,No Playoffs,3.97,6034,5432,643,...,.393,.694,101,2133,105,53,19,37,11,1073
1,Pittsburgh Pirates,2024,"$51,220,210",76.0,86.0,No Playoffs,4.10,6086,5477,665,...,.371,.672,87,2033,100,60,16,47,14,1112
2,Tampa Bay Rays,2024,"$37,691,876",80.0,82.0,No Playoffs,3.73,6006,5389,604,...,.366,.669,92,1973,87,78,10,32,15,1099
3,Detroit Tigers,2024,"$33,226,992",86.0,76.0,Wildcard,4.21,6021,5442,682,...,.385,.685,92,2097,90,52,4,41,12,1045
4,Cleveland Guardians,2024,"$50,885,032",92.0,69.0,Division Winner,4.40,5927,5310,708,...,.395,.703,99,2099,111,87,17,43,30,978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,Tm,2023,NaN,NaN,NaN,NaN,R/G,PA,AB,R,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
441,NaN,2023,NaN,NaN,NaN,NaN,4.62,184104,164418,22432,...,.414,.734,100,68095,3466,2112,429,1230,474,32964
442,League Average,2024,NaN,NaN,NaN,NaN,4.39,6082,5456,711,...,.399,.711,100,2178,108,67,15,42,17,1079
443,Tm,2024,NaN,NaN,NaN,NaN,R/G,PA,AB,R,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
444,NaN,2024,NaN,NaN,NaN,NaN,4.39,182449,163687,21343,...,.399,.711,100,65347,3227,2020,452,1261,509,32361